<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CVPM.Properties.Settings.Base_De_Datos_pruebasP1ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Base_De_Datos_pruebasP1.accdb"
            providerName="System.Data.OleDb" />
        <add name="CVPM.Properties.Settings.Base_De_Datos_pruebasP1ConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\HurtadoL\Desktop\Base_De_Datos_pruebasP1.accdb"
            providerName="System.Data.OleDb" />
        <add name="CVPM.Properties.Settings.Base_De_Datos_pruebasP1ConnectionString2"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\Escritorio\Base_De_Datos_pruebasP1.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>